<template>
  <v-row>
    <template v-for="(_, idx) in question.options">
      <v-col :key="`answer_${idx}`" cols="12" xs="12" sm="10">
        <v-text-field
          v-if="!isFile(idx) && question.options[idx]"
          v-model="question.options[idx]"
          :label="`Option ${idx + 1}`"
          readonly
          append-icon="mdi-close"
          @click:append="clearImage(idx)"
        >
        </v-text-field>
        <v-file-input
          v-else
          v-model="question.options[idx]"
          small-chips
          show-size
          accept="image/png, image/jpeg"
          :clearable="false"
          :label="`Option ${idx + 1}`"
          append-icon="mdi-delete"
          @click:append="remove(idx)"
          @change="(file) => showPreview(file, idx)"
        ></v-file-input>
        <v-row v-if="preview[idx]">
          <v-col cols="12" sm="4">
            <v-img :aspect-ratio="16 / 9" :src="preview[idx]" contain></v-img>
          </v-col>
        </v-row>
      </v-col>
      <v-col :key="`answer_correct_${idx}`" cols="12" xs="12" sm="2">
        <v-checkbox v-model="question.answer" label="Correct" :value="idx + 1"></v-checkbox>
      </v-col>
    </template>
  </v-row>
</template>

<script>
export default {
  model: {
    prop: 'question',
    event: 'change',
  },
  props: {
    question: Object,
  },
  data() {
    return {
      preview: [],
      options: [],
    }
  },
  methods: {
    remove(idx) {
      this.preview.splice(idx, 1)
      this.question.options.splice(idx, 1)
      this.$emit('change', this.question)
    },
    showPreview(file, idx) {
      if (file) {
        if (file.name) {
          this.preview[idx] = URL.createObjectURL(file)
        } else {
          this.question.options[idx] = null
          this.preview[idx] = null;
        }
      } else {
        this.question.options[idx] = null
        this.preview[idx] = null
      }
      this.$emit('change', this.question)
    },
    isFile(idx) {
      return this.question.options[idx] instanceof File && !Array.isArray(this.question.options[idx])
    },
    clearImage(idx) {
      this.remove(idx)
      this.question.options.splice(idx, 0, null)
      this.preview.splice(idx, 0, null)
      this.$emit('change', this.question)
    }
  },
  mounted() {
    this.options = new Array(this.question.options.length)
    this.preview = [...this.question.options]
  }
}
</script>
