<template>
  <div v-if="quiz">
    <v-row row wrap class="mx-0 py-4">
      <v-col col="12">
        <h1 class="headline">Questions for {{ quiz.name }}</h1>
        <div
          v-if="quiz.startAnswerPhase"
        >Teacher already allows students to answer, you are not allowed to edit questions</div>
      </v-col>
      <v-col class="flex-grow-0 flex-shrink-1">
        <v-btn
          color="primary"
          v-if="!quiz.startAnswerPhase"
          right
          :to="`/quiz/${quiz.id}/questions/create`"
          nuxt
          class="d-none d-md-inline-flex"
        >
          <v-icon left>mdi-plus</v-icon>Create Question
        </v-btn>
        <v-btn
          v-if="!quiz.startAnswerPhase"
          :to="`/quiz/${quiz.id}/questions/create`"
          right
          nuxt
          small
          icon
          class="d-md-none"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="12">
        <v-data-table
          :headers="headers"
          :items="questions"
          :disable-pagination="true"
          :hide-default-footer="true"
          :disable-sort="true"
        >
          <template v-slot:item.action="{ item }" v-if="!quiz.startAnswerPhase">
            <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
            <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}
      <v-btn text @click="snack = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      course: this.$auth.user.course,
      quiz: undefined,
      type_enums: [
        'Fill in the blanks',
        'Best describe of picture',
        'Prioritize the picture'
      ],
      // data-table
      headers: [
        { text: 'Question ID', value: 'id' },
        { text: 'Type', value: 'type' },
        { text: 'Title', value: 'title' },
        { text: 'Options Count', value: 'answers_count' },
        { text: 'Action', value: 'action', sortable: false }
      ],
      questions: [],
      // snackbar
      snack: false,
      snackColor: '',
      snackText: ''
    }
  },
  methods: {
    editItem(item) {
      this.$router.push(`/quiz/${item.quizId}/questions/${item.id}/edit`)
    },
    async deleteQuestion(item) {
      const data = await this.$axios.$delete(
        `/api/quizzes/${item.quizId}/questions/${item.id}`
      )
      const index = this.questions.indexOf(item)
      this.questions.splice(index, 1)
      this.snack = true
      this.snackColor = 'success'
      this.snackText = 'Item deleted.'
    },
    deleteItem(item) {
      confirm('Are you sure you want to delete this question?') &&
        this.deleteQuestion(item)
    }
  },
  async mounted() {
    this.quiz = await this.$axios.$get(`/api/quizzes/${this.$route.params.qid}`)
    if (!this.quiz.isCreator) {
      this.$router.replace({ path: `/quiz/${this.quiz.id}` })
    }
    if (this.quiz.startAnswerPhase) {
      this.headers.pop()
    }
    const questions = await this.$axios.$get(
      `/api/quizzes/${this.$route.params.qid}/questions`
    )
    this.questions = questions.map((item) => {
      item.type = this.type_enums[item.type]
      item.answers_count = item.body.options.length
      return item
    })
  }
}
</script>

<style scoped></style>
