<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1 class="headlin">
          Overall Result of
          <NuxtLink to="/">{{course.code}} - {{course.name}}</NuxtLink>
        </h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="quizzes"
          :disable-pagination="true"
          :hide-default-footer="true"
        ></v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import _sumBy from 'lodash/sumBy'

export default {
  data() {
    return {
      course: this.$auth.user.course,
      quizzes: [],
      headers: [
        { text: 'Quizzes', value: 'name', sortable: false },
        { text: 'Score', value: 'score', sortable: false },
        { text: 'Your rank in class', value: 'rank', sortable: false }
      ]
    }
  },
  methods: {
    async fetchCourseReport(courseId) {
      const report = await this.$axios.$get(`/api/courses/${courseId}/report`)
      const quizzes = report.quizzes.map((quiz) => ({
        name: quiz.name,
        score: `${quiz.correctCount} / ${quiz.questionsCount}`,
        rank:
          quiz.studentRank === 'N/A'
            ? quiz.studentRank
            : `${quiz.studentRank} / ${quiz.studentsCount}`
      }))
      quizzes.push({
        name: 'Cumulative',
        score: this.getCumulativeScore(report.quizzes),
        rank:
          report.cumulativeRank === 'N/A'
            ? report.cumulativeRank
            : `${report.cumulativeRank} / ${this.course.studentsCount}`
      })
      this.quizzes = quizzes
    },
    async fetchCourse(courseId) {
      this.course = await this.$axios.$get(`/api/courses/${courseId}`)
    },
    getCumulativeScore(quizzes) {
      const correctCount = _sumBy(quizzes, 'correctCount')
      const questionsCount = _sumBy(quizzes, 'questionsCount')
      return `${correctCount} / ${questionsCount}`
    }
  },
  mounted() {
    Promise.all([
      this.fetchCourseReport(this.course.courseId),
      this.fetchCourse(this.course.courseId)
    ])
  }
}
</script>

<style>
</style>