<template>
  <div>
    <v-row row wrap class="mx-0 py-4">
      <v-col cols="12" sm="12" v-if="quiz">
        <h1 class="headline">
          Quiz Report:
          <nuxt-link :to="`/quiz/${quiz.id}`">{{ quiz.name }}</nuxt-link>
        </h1>
        <p>Completed on: {{ formatDateTime(reports[0].created_at) }}</p>

        <template v-for="(report, idx) in reports">
          <v-divider :key="`report_divider_${idx}`" class="my-4"></v-divider>
          <v-card :key="`report_${idx}`">
            <v-card-title class="subtitle-1">{{ report.title }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <FillTheBlanks v-if="report.type === 0" :report="report"></FillTheBlanks>
              <BestDescribe v-else-if="report.type === 1" :report="report"></BestDescribe>
              <Prioritise v-else-if="report.type === 2" :report="report"></Prioritise>
            </v-card-text>
          </v-card>
        </template>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import _ from 'lodash'
import dayjs from 'dayjs'
import Prioritise from '@/components/results/Prioritise'
import BestDescribe from '@/components/results/BestDescribe'
import FillTheBlanks from '@/components/results/FillTheBlanks'

export default {
  components: {
    Prioritise,
    BestDescribe,
    FillTheBlanks
  },
  data() {
    return {
      course: this.$auth.user.course,
      quiz: undefined,
      reports: [],
      answers: []
    }
  },
  methods: {
    formatDateTime(dateTime) {
      return dayjs(dateTime).format('YYYY-MM-DD HH:mm:ss')
    }
  },
  async mounted() {
    const [quiz, reports] = await Promise.all([
      this.$axios.$get(`/api/quizzes/${this.$route.params.qid}`),
      this.$axios.$get(`/api/quizzes/${this.$route.params.qid}/report`)
    ])
    this.quiz = quiz
    this.reports = reports
    this.answers = new Array(reports.length)
  }
}
</script>
