<template>
  <v-row>
    <v-col cols="12" sm="12">
      <v-img :src="report.body.image" contain max-height="250" max-width="250" :eager="true" />
    </v-col>
    <template v-for="(option, idx) in report.body.options">
      <v-col
        :key="`answer_${idx}`"
        cols="12"
        sm="12"
        :class="{ incorrect: isSelectedIncorrect(idx + 1), correct: isSelectedCorrect(idx + 1) }"
      >
        <span class="subtitle-1">
          <i class="questionId">{{ idx + 1 }}.</i>
          {{ option }}
        </span>
      </v-col>
    </template>
    <v-col cols="12" sm="12">
      <v-alert :color="report.isCorrect ? 'green' : 'orange'" type="info" dense>{{ message }}</v-alert>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    report: Object
  },
  computed: {
    message() {
      return this.report.isCorrect
        ? 'You are correct!'
        : `The correct answer is: ${this.report.body.answer}`
    }
  },
  methods: {
    isSelectedCorrect(answer) {
      return (
        this.report.answer === this.report.body.answer &&
        this.report.answer.split(',').includes(`${answer}`)
      )
    },
    isSelectedIncorrect(answer) {
      return (
        this.report.answer !== this.report.body.answer &&
        this.report.answer.split(',').includes(`${answer}`)
      )
    }
  }
}
</script>

<style scoped>
i.questionId {
  font-style: normal;
  user-select: none;
}

.correct {
  color: #69f0ae !important;
}

.incorrect {
  color: #ff5252 !important;
}
</style>
