<template>
  <v-row>
    <v-col cols="12" sm="12" md="8" lg="6">
      <v-img :src="question.body.image" contain :eager="true" />
    </v-col>
    <template v-for="(option, idx) in question.body.options">
      <v-col :key="`answer_${idx}`" cols="12" sm="12">
        <v-checkbox
          v-model="choosenAnswer"
          @change="updateAnswer"
          :label="`${idx + 1}. ${option}`"
          :value="idx + 1"
        ></v-checkbox>
      </v-col>
    </template>
  </v-row>
</template>

<script>
export default {
  model: {
    prop: 'question'
  },
  data() {
    return {
      choosenAnswer: []
    }
  },
  props: {
    question: Object
  },
  methods: {
    updateAnswer(val) {
      this.$emit('answer', this.choosenAnswer.sort().join(','))
    }
  }
}
</script>
