<template>
  <div>
    <v-row>
      <template v-for="(option, idx) in question.body.options">
        <v-col :key="`answer_${idx}`" cols="12" sm="4" md="3">
          <p>Option {{ idx + 1 }}</p>
          <v-img :src="option" contain :eager="true" />
        </v-col>
      </template>
    </v-row>
    <v-row>
      <template v-for="(option, idx) in question.body.options">
        <v-col :key="`answer_order_${idx}`" cols="12" sm="2" class="answers">
          <v-text-field
            v-model="choosenAnswer[idx]"
            label="Order"
            type="number"
            min="1"
            :max="question.body.options.length"
            :append-outer-icon="
              idx === question.body.options.length - 1
                ? ''
                : 'mdi-chevron-right'
            "
          ></v-text-field>
        </v-col>
      </template>
    </v-row>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'question'
  },
  data() {
    return {
      choosenAnswer: []
    }
  },
  watch: {
    choosenAnswer(val) {
      if (
        val.filter((item) => item).length === this.question.body.options.length
      ) {
        this.$emit('answer', val.join(','))
      }
    }
  },
  props: {
    question: Object
  },
  mounted() {
    this.choosenAnswer = new Array(this.question.body.options.length)
  }
}
</script>
